<!DOCTYPE html>
<html lang="en">
    <head>
        <title>List Singer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h2 class="text-center">Add new singer</h2>
                    <form method="POST" action="/add-singer">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                            name="name" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label>Avatar</label>
                            <input type="text" class="form-control" name="avatar" placeholder="Enter Avatar">
                        </div>
                        <div class="form-group">
                            <label>Link</label>
                            <input type="text" class="form-control" name="link" placeholder="Enter Link">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>